In [1]:
import pandas as pd

1. total sales for each day of the week

In [70]:
dailyDf = pd.read_csv("daily_sales.csv")
monthlyDf = pd.read_csv("monthly_sales.csv")

In [71]:
dailyDf.index = dailyDf['Unnamed: 0']
dailyDf = dailyDf.drop("Unnamed: 0", axis=1)
dailyDf = dailyDf.rename_axis('Week')

In [72]:
monthlyDf.index = monthlyDf['Month, Year']
monthlyDf = monthlyDf.drop("Month, Year", axis=1)
monthlyDf = monthlyDf.rename_axis('Month')

In [73]:
monthlyDf

,HM-NE,CF-NE,FF-NE,HM-SW,CF-SW,FF-SW,HM-NW,CF-NW,FF-NW,HM-SE,CF-SE,FF-SE,HM-C,CF-C,FF-C
Month,,,,,,,,,,,,,,,
Jan-16,1140955,494802,285238,1124565,468568,281141,1111618,482079,277904,1095034,456264,273758,1126476,450958,281619
Feb-16,1175529,489804,293882,1200559,480616,288369,1188037,475603,297009,1167009,486254,280311,1109076,462115,288586
Mar-16,1235995,494802,296881,1220454,508522,293148,1151657,499443,287914,1133899,472458,295045,1167894,486622,280523
Apr-16,1186592,514593,296648,1213616,485843,291505,1149180,498369,299021,1133767,491684,283441,1116560,465233,290533
May-16,1272450,530187,305637,1249686,520702,312421,1187579,494824,296894,1215080,506283,291857,1155612,481505,300695
Jun-16,1235025,535597,321358,1213908,505795,303477,1239785,496319,297791,1217717,487485,292491,1149673,479030,299149
Jul-16,1284426,535177,321106,1269486,508209,317371,1202069,500862,312783,1186438,494349,296609,1220954,508730,305238
Aug-16,1323348,551395,330837,1358134,565889,326218,1283993,534997,320998,1319163,528096,316857,1252825,543317,325990
Sep-16,1284426,535177,334213,1268860,528691,330162,1295077,518454,311072,1279199,532999,319799,1255322,502539,313830
Oct-16,1280303,555233,333140,1315120,526477,328780,1301675,521095,312657,1233342,534868,320920,1213425,526230,315738
Nov-16,1319100,572058,343235,1348519,561883,337129,1276693,553667,332200,1257908,545521,327313,1288024,515630,322006
Dec-16,1280303,533459,320075,1306490,523023,313813,1287225,515310,309186,1266216,527590,316554,1199842,499934,299960
Jan-17,1381012,575421,345253,1356550,565229,339137,1341018,558757,348938,1316604,570976,329151,1290590,537745,335816
Feb-17,1480936,617056,355715,1451591,604829,362897,1428344,571804,357086,1405780,562771,337662,1386331,554985,346582
Mar-17,1381012,598908,359344,1358087,588966,353379,1393347,557794,348336,1378270,574279,331055,1307257,566922,340153
Apr-17,1429463,572252,357365,1411049,564881,352762,1329007,576355,332251,1358906,544006,339726,1335282,556367,333820
May-17,1472779,589593,353755,1395077,581282,363004,1367489,593043,341872,1347357,561398,350587,1381392,553008,345348
Jun-17,1487808,619920,357365,1471677,589151,353491,1442457,601024,346472,1420841,568801,341280,1344775,583193,349916
Jul-17,1419956,615797,354989,1391670,603530,362118,1367838,593195,341959,1343314,582559,349535,1318052,549188,342962
Aug-17,1522698,634457,380674,1560316,650131,374781,1536702,640292,384175,1447084,627562,376537,1431076,620620,372372
Sep-17,1538236,615797,369478,1462819,634386,365704,1433985,597493,373128,1467806,611586,352561,1450080,604200,348303
Oct-17,1466507,611044,366626,1448688,603620,376954,1478973,592072,355243,1401670,607867,350417,1374453,572688,357638
Nov-17,1572618,655257,393154,1542173,617373,385543,1519708,633211,365028,1439282,599701,374507,1475555,590704,368888
Dec-17,1588665,661944,397166,1570750,628813,392687,1492847,647408,388445,1537545,615520,384386,1517969,632487,379492
Jan-18,1574815,656173,409773,1607493,643522,386113,1586799,661166,381143,1570926,628883,377330,1547730,644887,371758
Feb-18,1688763,703651,422190,1597750,665729,399437,1640630,656788,410157,1545259,670138,402082,1517826,632427,394944
Mar-18,1574816,656173,378264,1551672,621175,387918,1532001,638333,383000,1509031,628762,362463,1486792,595202,371698
Apr-18,1623266,676361,422380,1605619,669008,401404,1574000,655833,409561,1611615,645172,402903,1532852,638688,383213
May-18,1672456,725300,435180,1709237,684253,410552,1622550,676062,405637,1601156,667148,400289,1580994,685635,411381
Jun-18,1559609,676361,405816,1534783,665594,399356,1569245,653852,392311,1491366,621402,372841,1474712,639543,383726
Jul-18,1671717,669233,401540,1587310,688374,413024,1566687,679430,391671,1603342,641861,385116,1583461,659775,395865
Aug-18,1654831,717656,413707,1625106,704765,406276,1662321,692634,399283,1574144,682664,409598,1543848,669525,385962
Sep-18,1606160,696549,417929,1642152,657397,410538,1618403,647890,404600,1536130,666178,384032,1520076,659216,380019
Oct-18,1380063,579193,361700,1351220,594662,342805,1351293,586020,351612,1334204,555918,333551,1364454,546227,341113
Nov-18,1551486,621101,387871,1524624,635260,366208,1440957,600398,374943,1417422,590592,368819,1451913,604963,362978
Dec-18,1446801,579193,347515,1419772,591571,341023,1343743,559893,335935,1383670,576529,345917,1360520,566883,340130
Jan-19,1581146,632975,379785,1499626,650348,374906,1534569,639403,383642,1518435,607870,364722,1434785,597827,358696
Feb-19,1503795,626581,375948,1537661,615567,384415,1460434,608514,365108,1432313,596797,372693,1416053,614105,368463
Mar-19,1519140,608152,379785,1444534,626456,375873,1474888,590437,354262,1453373,581824,349094,1375864,596676,343966
Apr-19,1488760,620316,387381,1524090,635037,381022,1442209,600920,360552,1414702,613518,368111,1448080,603366,362020
May-19,1596480,665200,383468,1506271,627613,391937,1547080,619337,386770,1470550,637738,367637,1500448,625187,360401
Jun-19,1488759,620316,357594,1410073,587530,352518,1446819,579200,347520,1371090,571287,342772,1407434,563433,351858
Jul-19,1458378,583828,364594,1379296,598164,344824,1416344,567000,340200,1336287,556786,347707,1366136,546901,341534
Aug-19,1502572,601520,360912,1422314,616820,355578,1462348,585417,351250,1386752,601397,360838,1416674,590281,340279
Sep-19,1458379,607658,379476,1431260,620699,372419,1472377,589432,353659,1397616,606109,363665,1383228,599869,345807

In [40]:
monthlyDf.sum(axis=0)

Month, Year    Jan-16Feb-16Mar-16Apr-16May-16Jun-16Jul-16Aug-...
HM-NE                                                   65362334
CF-NE                                                   27233220
FF-NE                                                   16345942
HM-SW                                                   64421707
CF-SW                                                   26815953
FF-SW                                                   16104137
HM-NW                                                   63572000
CF-NW                                                   26341429
FF-NW                                                   15821178
HM-SE                                                   62328614
CF-SE                                                   26039450
FF-SE                                                   15614539
HM-C                                                    61582375
CF-C                                                    25724566
FF-C                                                    15540968
dtype: object

In [80]:
# Index of monthly sales
list(monthlyDf.index)

['Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17',
 'Mar-17',
 'Apr-17',
 'May-17',
 'Jun-17',
 'Jul-17',
 'Aug-17',
 'Sep-17',
 'Oct-17',
 'Nov-17',
 'Dec-17',
 'Jan-18',
 'Feb-18',
 'Mar-18',
 'Apr-18',
 'May-18',
 'Jun-18',
 'Jul-18',
 'Aug-18',
 'Sep-18',
 'Oct-18',
 'Nov-18',
 'Dec-18',
 'Jan-19',
 'Feb-19',
 'Mar-19',
 'Apr-19',
 'May-19',
 'Jun-19',
 'Jul-19',
 'Aug-19',
 'Sep-19']

In [65]:
# pd.DataFrame(index=monthlyDf['Month, Year'], data= list(monthlyDf.sum(axis=1)),columns=['sum of sales'])

# Get all the relevant index from the dataframe
region_NE = monthlyDf.columns[monthlyDf.columns.str.contains("NE")]
region_SW = monthlyDf.columns[monthlyDf.columns.str.contains("SW")]
region_NW = monthlyDf.columns[monthlyDf.columns.str.contains("NW")]
region_SE = monthlyDf.columns[monthlyDf.columns.str.contains("SE")]
region_C = monthlyDf.columns[monthlyDf.columns.str.contains("C")]
food_HM = monthlyDf.columns[monthlyDf.columns.str.contains("HM")]
food_CF = monthlyDf.columns[monthlyDf.columns.str.contains("CF")]
food_FF = monthlyDf.columns[monthlyDf.columns.str.contains("FF")]

In [106]:
str(list(monthlyDf[region_SE]['FF-SE']))

'[456264, 486254, 472458, 491684, 506283, 487485, 494349, 528096, 532999, 534868, 545521, 527590, 570976, 562771, 574279, 544006, 561398, 568801, 582559, 627562, 611586, 607867, 599701, 615520, 628883, 670138, 628762, 645172, 667148, 621402, 641861, 682664, 666178, 555918, 590592, 576529, 607870, 596797, 581824, 613518, 637738, 571287, 556786, 601397, 606109]'

In [100]:
monthlyDf[region_NW]

          HM-NW   CF-NW   FF-NW
Month
Jan-16  1111618  482079  277904
Feb-16  1188037  475603  297009
Mar-16  1151657  499443  287914
Apr-16  1149180  498369  299021
May-16  1187579  494824  296894
Jun-16  1239785  496319  297791
Jul-16  1202069  500862  312783
Aug-16  1283993  534997  320998
Sep-16  1295077  518454  311072
Oct-16  1301675  521095  312657
Nov-16  1276693  553667  332200
Dec-16  1287225  515310  309186
Jan-17  1341018  558757  348938
Feb-17  1428344  571804  357086
Mar-17  1393347  557794  348336
Apr-17  1329007  576355  332251
May-17  1367489  593043  341872
Jun-17  1442457  601024  346472
Jul-17  1367838  593195  341959
Aug-17  1536702  640292  384175
Sep-17  1433985  597493  373128
Oct-17  1478973  592072  355243
Nov-17  1519708  633211  365028
Dec-17  1492847  647408  388445
Jan-18  1586799  661166  381143
Feb-18  1640630  656788  410157
Mar-18  1532001  638333  383000
Apr-18  1574000  655833  409561
May-18  1622550  676062  405637
Jun-18  1569245  653852  392311
Jul-18  1566687  679430  391671
Aug-18  1662321  692634  399283
Sep-18  1618403  647890  404600
Oct-18  1351293  586020  351612
Nov-18  1440957  600398  374943
Dec-18  1343743  559893  335935
Jan-19  1534569  639403  383642
Feb-19  1460434  608514  365108
Mar-19  1474888  590437  354262
Apr-19  1442209  600920  360552
May-19  1547080  619337  386770
Jun-19  1446819  579200  347520
Jul-19  1416344  567000  340200
Aug-19  1462348  585417  351250
Sep-19  1472377  589432  353659